/* ::ng-deep body {
    background-image: url("/assets/photos/Mock1.png") !important;
    background-size: cover;
} */
.login {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/assets/photos/Mock1.png") !important;
    background-size: cover;
    z-index: 1;
}
