<!-- Modal -->
<div #modal class="arsenal-modal-container">
    <div class="arsenal-modal">
        <div class="arsenal-header-wrap">
            <h1 class="heading--large">Create List</h1>
            <span (click)="cancelCreate()" class="material-icons arsenal-button--right a-fs--4em">clear</span>
            <label class="arsenal-label a-mt--20">Name</label>
            <input class="arsenal-full-input"
                    type="text"
                    [(ngModel)]="newListName"
                    placeholder="">
            <p *ngIf="errors.listName" class="arsenal-para--error a-mt--20">{{errors.listName}}</p>
            <button (click)='finishCreate(user, newListName)' class="arsenal-button--primary a-mt--20">Create</button>
        </div>
    </div>
</div>

<!-- Main view -->
<div class="arsenal-content a-mt--50">
    <!-- <div class="arsenal-flex-container">
        <div id="recommended-wrapper">
            <div class="dashboard-card">
                <h1 class="heading--large">Dashboard</h1>
            </div>
        </div>
        <div id="profile-wrapper">
            <div class="dashboard-card">
                <h1 class="heading--large">Profile</h1>
            </div>
        </div>
    </div> -->
    <!-- Show List -->
    <div class="list-section">
        <div class="list-section-title">
            <h1 class="heading--medium">All Lists</h1>
        </div>
        <div class="list-container a-mt--15">
            <ng-container *ngFor="let list of lists; let i = index">
                <div class="list-card" (click)="viewList(i)">
                    <div class="list-header">
                        <p class="heading--small">{{list.name}}</p>
                        <span class="material-icons list-add-icon">add_circle</span>
                    </div>
                    <!-- No Items -->
                    <p *ngIf='list.items.length == 0' class="list-peek a-mt--15">No items in this list right now.</p>
                    <p *ngIf='list.items.length == 0' class="a-mt--15">Click this card to add a task!</p>
                    <!-- Has Items -->
                    <p *ngIf='list.items.length != 0' class="list-peek a-mt--15 a-mb--15">Next up: {{list.items[0].name}}</p>
                    <app-progress-bar *ngIf='list.items.length != 0' [stages]="list.items"></app-progress-bar>
                </div>
            </ng-container>
            <div class="list-card list-card--add" (click)="createListModal()">
                <div class="list-add--row">
                    <div class="arsenal-divider"></div>
                    <span class="material-icons list-add--icon">add_circle</span>
                    <div class="arsenal-divider"></div>
                </div>
                <p>New List</p>
            </div>
        </div>
    </div>
</div>
